
.project .collaborate {
    color: #ff3c35;
}
.project p1 {
    color: #363636;
    font-family: 'PT Serif', serif;
    font-size: 22px;
    font-weight: 700;
}

.project p2 {
    color: #474747;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    font-weight: 700;
}

.project p3 {
    color: green
}

.project ul {
    color: #34373b;
}


.project-pics img {
    box-shadow: 0px 0 7px #535755;
}

.inspiration .box {
    width: auto !important;
}